@import url('https://fonts.cdnfonts.com/css/aok-buenos-aires');

:root {
  
  font-family: "AOK Buenos Aires", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  scroll-behavior: smooth;
  overflow-x: hidden;
}



.App{

}





